@using Abp
@using TaskManager
@using TaskManager.Web.Controllers
@*
    This partial controls the top menu of the AdminLTE Template, being called automatically by _AdminLteLayout
       TODO: All of the content in here is stand-in that must be replaced by the real behavior of your app
*@

@{
    ViewBag.Layout = null;
}

<header class="main-header">
    <!-- Logo -->
    <a href="javascript:void(0)" class="logo">非<b>撸</b>不可</a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="/Content/AdminLTE/img/user2-160x160.jpg" class="user-image" alt="User Image" />
                        @{
                            TaskManager.Users.User user = null;
                            if (Session["User"] != null)
                            {
                                user = (TaskManager.Users.User)Session["User"];
                            }
                            if (user == null)
                            {
                                Response.Redirect("~/account/login?ReturnUrl=" + Request.Url.PathAndQuery);
                            }
                        }
                        <span class="hidden-xs1">
                            欢迎你：
                            @if (user != null)
                            {
                                <b>@user.UserName</b>
                                <small>(@user.EmailAddress)</small>
                            }
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="/Content/AdminLTE/img/user2-160x160.jpg" class="img-circle" alt="User Image" />
                            <p>
                                @if (user != null)
                                {
                                    <b>@user.UserName</b>
                                    <small>(@user.EmailAddress)</small>
                                }
                                <small>@*Member since Nov. 2012*@</small>
                            </p>
                        </li>
                        <!-- Menu Body -->
                        <li class="user-body hidden">
                            <div class="col-xs-4 text-center">
                                <a href="#">Followers</a>
                            </div>
                            <div class="col-xs-4 text-center">
                                <a href="#">Sales</a>
                            </div>
                            <div class="col-xs-4 text-center">
                                <a href="#">Friends</a>
                            </div>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left hidden ">
                                <a href="#" class="btn btn-default btn-flat">Profile</a>
                            </div>
                            <div class="pull-right">
                                <a href="@Url.Action("Logout", "Account")" class="btn btn-default btn-flat">登出</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>